<% provide(:title, "Log in") %>
<h1>Log in</h1>
<div class="row">
<div class="col-md-6 offset-md-3">
    <div class="social-signup">
      <div class="gray-text">
      Connect with a social network
      </div>
      <table class="connect-table"><tr>
        <td><%= render partial: 'users/facebook_new' %></td>
        <td><%= render partial: 'users/google_new' %></td>
      </tr></table>
    </div>
    <div class="gray-text-2">
    Log in with your email
    </div>
    <%= form_with(url: login_path, scope: :session, local: true) do |f| %>
      <%= f.label :email, class: 'font-weight-bold' %>
      <%= f.email_field :email, class: 'form-control' %>
      <%= f.label :password, class: 'font-weight-bold' %>
      <%= link_to "(forgot password)", new_password_reset_path %>
      <%= f.password_field :password, class: 'form-control' %>
      <%= f.label :remember_me, class: "checkbox inline" do %>
     <%= f.check_box :remember_me %>
     <span>Remember me on this computer</span>
    <% end %> 


    <%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>

  <p>New user? <%= link_to "Sign up now!", signup_path %></p>
 </div>
</div>