<% provide(:title, "Edit user") %>
<h1>Update your profile</h1>
<div class="row">
  <div class="col-md-6 offset-md-3">
    <% if @user.id == @current_user&.id %>
      <%= form_with model: @user, local: true do |f| %>
        <%= render 'shared/error_messages' %>

        <table style="margin-bottom: 15px">
          <tr>
            <td rowspan=2><%= render partial: 'users/profil_picture', locals: {user: @user}%></td>
            <td>
              <% if @user.avatar.attached? %>
                <%= link_to 'X', delete_avatar_path(id: @user.id), method: :delete, class: 'btn btn-danger btn-x' %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td valign="bottom" style="padding-left: 4px">
              <a id="change_avatar" href="javascript:void(0);" onclick="displayButton();">Change</a>
              <%= f.file_field :avatar, accept: "image/jpeg,image/gif,image/png", direct_upload: true %>
            </td>
          </tr>
        </table>

        <%= f.label :name, "Username" %>
        <%= f.text_field :name, class: 'form-control' %>

        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>

        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>

        <%= f.label :password_confirmation, "Password confirmation" %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>

        <%= f.submit "Save changes", class: "btn btn-primary" %>
      <% end %>
      <%= link_to 'Delete account', '/delete', class: 'btn btn-danger btn-delete'  %>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  function displayButton() {
    var a = document.getElementById("change_avatar");
    var b = document.getElementById("user_avatar");
    a.style.display = "none";
    b.style.display = "block";
}
</script>